.container {
    max-width: 880px;
    margin: 0 auto;
    padding: 50px;
    background: linear-gradient(to right, navy, #ff4500);
    height: 100vh;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}
.heart {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 123, 0);
    transform: rotate(-45deg);
    transform-origin: center center;
    margin: 50px auto;
    border-color: rgb(121, 59, 0);;
    animation: pulse 1.25s infinite;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 123, 0);;
    border-radius: 50%;
}

.heart::before {
    top: -50px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 50px;
}

#surprise-btn {
    background: #2a65a8;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

#surprise-btn:hover {
    background: #4682c7;
}

#surprise-btn:active {
    transform: scale(0.95);
}

@keyframes pulse {
    0% {
        transform: scale(1) rotate(-45deg);
    }
    35% {
        transform: scale(1.1) rotate(-45deg);
    }
    50% {
        transform: scale(1) rotate(-45deg);
    }
    65% {
        transform: scale(1.1) rotate(-45deg);
    }
    100% {
        transform: scale(1) rotate(-45deg);
    }
}
@keyframes shrink-expand {
    0% {
        transform: scale(1) rotate(-45deg);
    }
    20% {
        transform: scale(1.178) rotate(-45deg);
    }
    100% {
        transform: scale(1) rotate(-45deg);
    }
}

.shrink-expand {
    animation: shrink-expand 0.35s ease-in-out;
}